include COPYING.txt
include HACKING.txt
include Makefile
include NEWS.txt
include README.rst
include requirements.txt
include TODO.txt
include data/test.res
include data/test.re2
recursive-include ui *.png *.jpg *.ui *.cfg
recursive-include res pantallazo*.png
#prune examples/sample?/build
